# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Portfolio ID input file
portfolio-sheet-id.txt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore JSON config files
auth_token.json
credentials.json

# Ignore VS Code files
*.vscode/

# Ignore built executables
backend/go-server

# dependencies
ui/node_modules/
ui/.pnp
ui/.pnp.js

# testing
ui/coverage/

# production
ui/build/

# misc
ui/.DS_Store
ui/.env.local
ui/.env.development.local
ui/.env.test.local
ui/.env.production.local

ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
