.nav-header {
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: black;
}

.nav-item {
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

.summary-table {
    width: auto;
    margin-top: 15px;
    margin-left: 20px;
    border-collapse: collapse;
}

.summary-cell {
    background-color: black;
    border-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

.summary-deltas {
    background-color: black;
    border-color: black;
    font-size: 20px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5;
    padding-left: 0;
}

.header-portcomposition {
    text-align: center;
    justify-content: center;
    height: 30px;
    vertical-align: middle;
    color: white;
}

.header-myholdings {
    text-align: left;
    margin-left: 20px;
    justify-content: center;
    height: 30px;
    vertical-align: middle;
    color: white;
}

.piechart-container {
    position: relative;
}

.charts-container {
    /* This is to remove the white space between inline-block elements */
    font-size: 0;
    position: relative;
}

.chart-marketvalue,
.chart-costbasis {
    /* Specify these charts should display side-by-side horizontally, within the charts-container. */
    display: inline-block;
    width: 50%;
    height: 750px;
}

.chart-marketvalue-label,
.chart-costbasis-label {
    /* Specify these charts should display side-by-side horizontally, within the charts-container. */
    display: inline-block;
    width: 50%;
    height: 30px;
}

.piechart-underlay {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 100%;
    line-height: 750px;
    text-align: center;
    color: white;
    font-size: 26px;
    margin-top: 15px;
    z-index: -1;
}

.piechart-underlaylabel {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 100%;
    line-height: 750px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: -15px;
    z-index: -1;
}

.barchart-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

th,
td {
    border: 0.5px solid #cacaca;
    text-align: left;
    padding: 8px;
    font-size: 16px;
    color: white;
}

th {
    background-color: rgb(46, 46, 46);
    border: none;
}

td {
    background-color: rgb(26, 26, 26);
    border-left: none;
    border-right: none;
}

form {
    display: flex;
    gap: 5px;
}

form td:last-child {
    display: flex;
    justify-content: space-evenly;
}

form * {
    font-size: 28px;
}

.dollars:before {
    content: "$";
}