table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.summary-table {
    width: auto;
    margin-top: 15px;
    margin-left: 20px;
    border-collapse: collapse;
}

.summary-cell {
    background-color: white;
    margin: 0;
    padding: 0;
}

.summary-deltas {
    background-color: white;
    font-size: 20px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5;
    padding-left: 0;
}

.header-portcomposition {
    text-align: center;
    justify-content: center;
    height: 30px;
    vertical-align: middle;
}

.piechart-container {
    position: relative;
}

.charts-container {
    /* This is to remove the white space between inline-block elements */
    font-size: 0;
    position: relative;
}

.chart-marketvalue,
.chart-costbasis {
    /* Specify these charts should display side-by-side horizontally, within the charts-container. */
    display: inline-block;
    width: 50%;
    height: 750px;
}

.chart-marketvalue-label,
.chart-costbasis-label {
    /* Specify these charts should display side-by-side horizontally, within the charts-container. */
    display: inline-block;
    width: 50%;
    height: 30px;
}

.piechart-underlay {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 100%;
    line-height: 750px;
    text-align: center;
    font-size: 26px;
    margin-top: 15px;
    z-index: -1;
}

.piechart-underlaylabel {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 100%;
    line-height: 750px;
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
    z-index: -1;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

th {
    background-color: rgb(117, 201, 250);
}

td {
    background-color: rgb(205, 235, 253);
}

form {
    display: flex;
    gap: 5px;
}

form td:last-child {
    display: flex;
    justify-content: space-evenly;
}

form * {
    font-size: 28px;
}

.dollars:before {
    content: "$";
}