
.summary-table-container {
    font-size: 0;
    position: relative;
}

.summary-table-div {
    /* Display tables side-by-side horizontally. */
    display: inline-block;
    width: 300px;
}

.historical-table-div {
    /* Display tables side-by-side horizontally. */
    display: inline-block;
}

.summary-table {
    width: auto;
    margin-top: 15px;
    margin-left: 20px;
    border-collapse: collapse;
}

.summary-cell {
    background-color: black;
    border-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

.summary-deltas {
    background-color: black;
    border-color: black;
    font-size: 20px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5;
    padding-left: 0;
}

.summary-lastupdate {
    margin-top: 5px;
    margin-left: 20px;
}
