/* CSS file for TransactionsPage */

.txn-summary-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 700px;
    padding-bottom: 100px;
}

.txn-summary-table-header {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-size: 22px;
}

.txn-summary-table-cell {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.metrics-span {
    text-align: right;
    display: block;
    width: calc(100% - 70px);
    color: lightgrey;
    margin: 0 35px;
}

.stock-picker-container {
    margin: 20px;
    margin-top: 10px;
    width: 250px;
}

.stock-picker-label {
    margin: 20px;
    margin-bottom: 10px;
    color: white;
}